<div class="attires section" id="attires">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="text-title cursive mb-5 mt-5">What to ware</h1>

        <div class="mt-5 mb-5">
          <p>We are aiming for a semi-formal rustic elegant theme with a touch of dusty blue, silver, gold and white. We want to see you primarily in dusty blue or any close shade of dusty blue. Any other color from our palette are a good option as well.</p>

          <div class="palette text-center mt-5">
            <div class="dusty-blue-1 palette-color"></div>
            <div class="dusty-blue-2 palette-color"></div>
            <div class="dusty-blue-3 palette-color"></div>
            <div class="dusty-blue-4 palette-color"></div>
            <div class="dusty-blue-5 palette-color"></div>
            <div class="rustic-gold-1 palette-color"></div>
            <div class="rustic-gold-2 palette-color"></div>
            <div class="rustic-gold-3 palette-color"></div>
          </div>
        </div>
        <div class="row mt-5 mb-5">
          <div class="col-md-6">
            <div>
              <h4 class="text-title text-center">Men</h4>

              <div class="mt-5 mb-5 text-center">
                <img src="/assets/images/men.png" />
              </div>
              <ul>
                <li>Polo and pants</li>
                <li>Dark three-piece suit</li>
                <li>Neck or Bow tie</li>
                <li>Appropriate leather shoes or white shoes or any matching shoes to your attire</li>
                <li>Colored shirt with cuffed sleeves</li>
              </ul>
            </div>
          </div>

          <div class="col-md-6">
            <div>
              <h4 class="text-title text-center">Women</h4>

              <div class="mt-5 mb-5 text-center">
                <img src="/assets/images/women.png" />
              </div>
              <ul>
                <li>Cocktail dress or dress skirt and top</li>
                <li>Sandal or doll shoes or hills</li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
