<div class="banner section" id="home">
  <div class="banner-cover banner-display d-flex align-items-center justify-content-center text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-12 intro-banner">
          <h1 class="mb-4">We're Getting Married</h1>
          <h3>Erwin & Glydel</h3>
          <p>#theWinningheartsofGly2023</p>
          <h4 class="txt-tech play"><span class="txt-rotate" data-period="2000" data-fixed="#theWinningheartsofGly2023" data-rotate='["We are excited to our wedding", "We are excited to celebrate together with you", "Our wedding is on Aug 6, 2023", "Church will on Taal Basilica, Taal, Batangas", "Ceremony will be 3pm", "Reception will be on Via Elise Event Center, Taal, Batangas", "Progam will be 5pm"]'></span></h4>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="our-story section">
  <div class="banner-cover banner-display d-flex align-items-center justify-content-center">
    <div class="container">
      <div class="row">
        <div class="col-md-12 intro-banner">
          <h1 class="mb-4 cursive">Our Story</h1>
          <h3 class="italic">The fifth of June</h3>
        </div>
        <div class="col-md-6 mt-5">
          <p>My fiance proposed on June 5. He asked me to go to Zablai and at the same time my eldest sibling asked me as well to visit there after my work. Me and my family with my Fiance went there without knowing what will happen until He proposed to me in the scenery sunset in front of taal lake view deck. I was shocked, mixed emotions and happy that moment. Before that day I was sulking at him since I arrived at home first before him, without knowing before I arrived He was there already and asked permissions to my family for his intension to marry me.</h1>
        </div>
      </div>
    </div>
  </div>
</div>
