<div class="locations section" id="locations">
  <div class="banner-cover banner-display d-flex justify-content-center align-items-center">
    <div class="row">
      <div class="col-md-12 pb-5">
        <h1 class="cursive mb-5 mt-5 text-center">How to get into the area</h1>

        <div class="container pb-5">
          <div class="row">
            <div class="col-md-12">
              <div class="accordion mb-5" id="routes-acc">
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#route-1" aria-expanded="false" aria-controls="route-1">
                      Im coming from Baguio
                    </button>
                  </h2>
                  <div id="route-1" class="accordion-collapse collapse" data-bs-parent="#routes-acc">
                    <div class="accordion-body">
                      <div>
                        <p><strong>Commute:</strong></p>
                        <ul>
                          <li>From Bus Terminal below SM Baguio, take Nolid North going to PTIX which take 5-6hrs commute.</li>
                          <li>From PTIX take a bus going to SM LIPA which will take 1-2hrs commute. </li>
                          <li>From SM Lipa take a jeep going to Taal Basilica, Church which take 1hr commute.</li>
                          <li>From Taal Basilica can ride a tricycle going to Via Elise Event Center its just 10mins away ride. <a href="https://www.google.com/maps/@13.8608806,120.9179883,3a,75y,267.14h,84.93t/am=t/data=!3m7!1e1!3m5!1sQb30xgT-GZXfRX6qULIp8w!2e0!6shttps:%2F%2Fstreetviewpixels-pa.googleapis.com%2Fv1%2Fthumbnail%3Fpanoid%3DQb30xgT-GZXfRX6qULIp8w%26cb_client%3Dsearch.revgeo_and_fetch.gps%26w%3D96%26h%3D64%26yaw%3D5.9203367%26pitch%3D0%26thumbfov%3D100!7i16384!8i8192?entry=ttu">You will see this arc and signage going to Via Elise Event Center</a></li>
                        </ul>
                      </div>

                      <div class="mt-5">
                        <p><strong>Private Vehicle: (<a target="_blank" href="https://www.google.com/maps/dir/baguio/Minor+Basilica+of+St.+Martin+of+Tours,+VWJF%2B6WV,+Calle+San+Martin,+Taal,+4208+Batangas/@14.5004422,120.7269326,9.53z/data=!4m13!4m12!1m5!1m1!1s0x3391a16879def13f:0x8edef534be3a75c0!2m2!1d120.5960071!2d16.4023332!1m5!1m1!1s0x33bd0a246a5a69b9:0xde6f612d574bef5b!2m2!1d120.9247997!2d13.880613?entry=ttu">See routes</a>)</strong></p>
                        <ul>
                          <li>
                            <p>From Baguio take Marcos highway or Kennon road (weekend only) route going to Ayala ave which will take 5-6hrs ride depending on the peak hours time (Recommend to travel dawn time so there will be no traffic on the road).</p>
                            <ul>
                              <li>You can pass TPLEX (optional if has traffic on the Mac Arthur highway) or pass Mac Arthur highway until SCETX</li>
                              <li>You can pass SCETX (optional if has traffic on Mac Arthur highway) or pass Mac Arthur highway until NLEX</li>
                              <li>If pass from Mac Arthur highway you need to take NLEX until EDSA or skyway until SLEX route</li>
                            </ul>
                          </li>
                          <li>
                            <p>From Metro Manila EDSA or Skyway to Lipa, Batangas which wil take 1-2hrs travel</p>
                            <ul>
                              <li>FROM EDSA travel until SLEX on ramp going to Lipa, Batangas</li>
                              <li>FROM NLEX - Skyway travel until SLEX on ramp going to Lipa, Batangas</li>
                            </ul>
                          </li>
                          <li>FROM SLEX Lipa exit take Star Toll and exit Tambo exit.</li>
                          <li>From Tambo exit, take P Jose P. Laurel Highway going to Taal Basilica Church which will take 1hr travel</li>
                          <li>From Taal Basilica Church take Palico - Balayan road until Calle Ramon Diokno road until Taal - San Luis road (those roads are just straight connected road). <a href="https://www.google.com/maps/dir/Minor+Basilica+of+St.+Martin+of+Tours,+VWJF%2B6WV,+Calle+San+Martin,+Taal,+4208+Batangas/Via+Elise+Events+Center,+Sitio+Aroma,+Taal,+4208+Batangas/@13.8706341,120.909945,15z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x33bd0a246a5a69b9:0xde6f612d574bef5b!2m2!1d120.9247997!2d13.880613!1m5!1m1!1s0x33bd09eb9ec85e67:0x70f0734dbe68254a!2m2!1d120.9157429!2d13.8603273!3e0?entry=ttu">See routes</a></li>
                          <li>From Taal - San Luis road ahead there will be a signage on the Left side of the road stating that Via Elise is ahead already and take right <a href="https://www.google.com/maps/@13.8608806,120.9179883,3a,75y,267.14h,84.93t/am=t/data=!3m7!1e1!3m5!1sQb30xgT-GZXfRX6qULIp8w!2e0!6shttps:%2F%2Fstreetviewpixels-pa.googleapis.com%2Fv1%2Fthumbnail%3Fpanoid%3DQb30xgT-GZXfRX6qULIp8w%26cb_client%3Dsearch.revgeo_and_fetch.gps%26w%3D96%26h%3D64%26yaw%3D5.9203367%26pitch%3D0%26thumbfov%3D100!7i16384!8i8192?entry=ttu">You will see this arc and signage going to Via Elise Event Center</a></li>
                        </ul>
                      </div>

                      <div class="mt-5">
                        <p><strong>See routes in google map</strong></p>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d1971957.6825961145!2d119.49220152462367!3d15.13196972171269!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e6!4m5!1s0x3391a16879def13f%3A0x8edef534be3a75c0!2sbaguio!3m2!1d16.402333199999998!2d120.5960071!4m5!1s0x33bd0a246a5a69b9%3A0xde6f612d574bef5b!2sMinor%20Basilica%20of%20St.%20Martin%20of%20Tours%2C%20VWJF%2B6WV%2C%20Calle%20San%20Martin%2C%20Taal%2C%204208%20Batangas!3m2!1d13.880612999999999!2d120.9247997!5e0!3m2!1sen!2sph!4v1687103599314!5m2!1sen!2sph" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

                        <p>You can check or use waze as well just look for Taal Basilica and Via Elise Event Center</p>
                        <a target="_blank" href="https://ul.waze.com/ul?preview_venue_id=79233163.792462700.2655965&navigate=yes&utm_campaign=default&utm_source=waze_website&utm_medium=lm_share_location">To Taal Basilica, Taal Batangas</a>
                        <a target="_blank" href="https://ul.waze.com/ul?preview_venue_id=79233163.792462698.15320547&navigate=yes&utm_campaign=default&utm_source=waze_website&utm_medium=lm_share_location">To Via Elise Event Center, Taal Batangas</a>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#route-2" aria-expanded="false" aria-controls="route-2">
                      Im coming from Cavite
                    </button>
                  </h2>
                  <div id="route-2" class="accordion-collapse collapse" data-bs-parent="#routes-acc">
                    <div class="accordion-body">
                      <div>
                        <p><strong>Commute:</strong></p>

                        <ul>
                          <li>Im coming from Dasma/Imus: Take a jeep going to SM Dasma before aguinaldo highway intersection get off the jeep</li>
                          <li>Im coming from General Trias: Take a jeep going to SM Dasma before aguinaldo highway intersection get off the jeep</li>
                          <li>From crossing on the aguinaldo highway infront of mcdo, look for van terminal going to Lipa, Batangas. <a href="https://goo.gl/maps/LRRgn3JxkEPzUPYv5">You can check here exact location.</a></li>
                          <li>From Van terminal take the van going to SM LIPA which will take 1-2hrs commute. </li>
                          <li>From SM Lipa take a jeep going to Taal Basilica, Church which take 1hr commute.</li>
                          <li>From Taal Basilica can ride a tricycle going to Via Elise Event Center its just 10mins away ride. <a href="https://www.google.com/maps/@13.8608806,120.9179883,3a,75y,267.14h,84.93t/am=t/data=!3m7!1e1!3m5!1sQb30xgT-GZXfRX6qULIp8w!2e0!6shttps:%2F%2Fstreetviewpixels-pa.googleapis.com%2Fv1%2Fthumbnail%3Fpanoid%3DQb30xgT-GZXfRX6qULIp8w%26cb_client%3Dsearch.revgeo_and_fetch.gps%26w%3D96%26h%3D64%26yaw%3D5.9203367%26pitch%3D0%26thumbfov%3D100!7i16384!8i8192?entry=ttu">You will see this arc and signage going to Via Elise Event Center</a></li>
                        </ul>
                      </div>

                      <div class="mt-5">
                        <p><strong>Private Vehicle: (<a target="_blank" href="https://www.google.com/maps/dir/Imus,+Cavite/Minor+Basilica+of+St.+Martin+of+Tours,+VWJF%2B6WV,+Calle+San+Martin,+Taal,+4208+Batangas/@14.1352593,120.8347979,11z/data=!3m1!4b1!4m13!4m12!1m5!1m1!1s0x3397d252b84f3c11:0x38b0f2e1f833e8df!2m2!1d120.9405057!2d14.4064221!1m5!1m1!1s0x33bd0a246a5a69b9:0xde6f612d574bef5b!2m2!1d120.9247997!2d13.880613?entry=ttu">See routes</a>)</strong></p>
                        <ul>
                          <li>From aguinaldo highway take route going to tagaytay and Diokno highway going to Lemery - Taal, Batangas</li>
                          <li>From Taal Basilica Church take Palico - Balayan road until Calle Ramon Diokno road until Taal - San Luis road (those roads are just straight connected road). <a target="_blank" href="https://www.google.com/maps/dir/Minor+Basilica+of+St.+Martin+of+Tours,+VWJF%2B6WV,+Calle+San+Martin,+Taal,+4208+Batangas/Via+Elise+Events+Center,+Sitio+Aroma,+Taal,+4208+Batangas/@13.8706341,120.909945,15z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x33bd0a246a5a69b9:0xde6f612d574bef5b!2m2!1d120.9247997!2d13.880613!1m5!1m1!1s0x33bd09eb9ec85e67:0x70f0734dbe68254a!2m2!1d120.9157429!2d13.8603273!3e0?entry=ttu">See routes</a></li>
                          <li>From Taal - San Luis road ahead there will be a signage on the Left side of the road stating that Via Elise is ahead already and take right <a target="_blank" href="https://www.google.com/maps/@13.8608806,120.9179883,3a,75y,267.14h,84.93t/am=t/data=!3m7!1e1!3m5!1sQb30xgT-GZXfRX6qULIp8w!2e0!6shttps:%2F%2Fstreetviewpixels-pa.googleapis.com%2Fv1%2Fthumbnail%3Fpanoid%3DQb30xgT-GZXfRX6qULIp8w%26cb_client%3Dsearch.revgeo_and_fetch.gps%26w%3D96%26h%3D64%26yaw%3D5.9203367%26pitch%3D0%26thumbfov%3D100!7i16384!8i8192?entry=ttu">You will see this arc and signage going to Via Elise Event Center</a></li>
                        </ul>
                      </div>

                      <div class="mt-5">
                        <p><strong>See routes in google map</strong></p>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d247616.91232843863!2d120.83479791626007!3d14.135259285483858!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e6!4m5!1s0x3397d252b84f3c11%3A0x38b0f2e1f833e8df!2sImus%2C%20Cavite!3m2!1d14.406422099999999!2d120.94050569999999!4m5!1s0x33bd0a246a5a69b9%3A0xde6f612d574bef5b!2sMinor%20Basilica%20of%20St.%20Martin%20of%20Tours%2C%20VWJF%2B6WV%2C%20Calle%20San%20Martin%2C%20Taal%2C%204208%20Batangas!3m2!1d13.880612999999999!2d120.9247997!5e0!3m2!1sen!2sph!4v1687367385305!5m2!1sen!2sph" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

                        <p>You can check or use waze as well just look for Taal Basilica and Via Elise Event Center</p>
                        <a target="_blank" href="https://ul.waze.com/ul?preview_venue_id=79233163.792462700.2655965&navigate=yes&utm_campaign=default&utm_source=waze_website&utm_medium=lm_share_location">To Taal Basilica, Taal Batangas</a>
                        <a target="_blank" href="https://ul.waze.com/ul?preview_venue_id=79233163.792462698.15320547&navigate=yes&utm_campaign=default&utm_source=waze_website&utm_medium=lm_share_location">To Via Elise Event Center, Taal Batangas</a>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#route-3" aria-expanded="false" aria-controls="route-3">
                      Im coming from Metro Manila
                    </button>
                  </h2>
                  <div id="route-3" class="accordion-collapse collapse" data-bs-parent="#routes-acc">
                    <div class="accordion-body">
                      <div>
                        <p><strong>Commute:</strong></p>

                        <ul>
                          <li>Im coming from EDSA: Take bus going to PTIX from EDSA</li>
                          <li>Im coming from NAIA Airport: Take a taxi from departure (metro taxi (<strong class="green-text">Taxi that charge you per route / time on the fly</strong>) not <strong class="red-text">METERED TAXI (Scammer taxi - super expensive) will give you FIXED price</strong>) going to PTIX (PTIX is just at the back other side of NAIA airport)</li>
                        </ul>
                        <ul>
                          <li>From PTIX take a bus going to SM LIPA which will take 1-2hrs commute. </li>
                          <li>From SM Lipa take a jeep going to Taal Basilica, Church which take 1hr commute.</li>
                          <li>From Taal Basilica can ride a tricycle going to Via Elise Event Center its just 10mins away ride. <a href="https://www.google.com/maps/@13.8608806,120.9179883,3a,75y,267.14h,84.93t/am=t/data=!3m7!1e1!3m5!1sQb30xgT-GZXfRX6qULIp8w!2e0!6shttps:%2F%2Fstreetviewpixels-pa.googleapis.com%2Fv1%2Fthumbnail%3Fpanoid%3DQb30xgT-GZXfRX6qULIp8w%26cb_client%3Dsearch.revgeo_and_fetch.gps%26w%3D96%26h%3D64%26yaw%3D5.9203367%26pitch%3D0%26thumbfov%3D100!7i16384!8i8192?entry=ttu">You will see this arc and signage going to Via Elise Event Center</a></li>
                        </ul>
                      </div>

                      <div class="mt-5">
                        <p><strong>Private Vehicle: (<a target="_blank" href="https://www.google.com/maps/dir/EDSA,+Metro+Manila/Minor+Basilica+of+St.+Martin+of+Tours,+VWJF%2B6WV,+Calle+San+Martin,+Taal,+4208+Batangas/@14.2206153,120.6703114,10z/data=!3m1!4b1!4m13!4m12!1m5!1m1!1s0x3397c9da821341b9:0x446ff353334ba713!2m2!1d121.0501616!2d14.5766435!1m5!1m1!1s0x33bd0a246a5a69b9:0xde6f612d574bef5b!2m2!1d120.9247997!2d13.880613?entry=ttu">See routes</a>)</strong></p>
                        <ul>
                          <li>
                            <p>From Metro Manila EDSA or Skyway to Lipa, Batangas which wil take 1-2hrs travel</p>
                            <ul>
                              <li>FROM EDSA travel until SLEX on ramp going to Lipa, Batangas</li>
                            </ul>
                          </li>
                          <li>FROM SLEX Lipa exit take Star Toll and exit Tambo exit.</li>
                          <li>From Tambo exit, take P Jose P. Laurel Highway going to Taal Basilica Church which will take 1hr travel</li>
                          <li>From Taal Basilica Church take Palico - Balayan road until Calle Ramon Diokno road until Taal - San Luis road (those roads are just straight connected road). <a target="_blank" href="https://www.google.com/maps/dir/Minor+Basilica+of+St.+Martin+of+Tours,+VWJF%2B6WV,+Calle+San+Martin,+Taal,+4208+Batangas/Via+Elise+Events+Center,+Sitio+Aroma,+Taal,+4208+Batangas/@13.8706341,120.909945,15z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x33bd0a246a5a69b9:0xde6f612d574bef5b!2m2!1d120.9247997!2d13.880613!1m5!1m1!1s0x33bd09eb9ec85e67:0x70f0734dbe68254a!2m2!1d120.9157429!2d13.8603273!3e0?entry=ttu">See routes</a></li>
                          <li>From Taal - San Luis road ahead there will be a signage on the Left side of the road stating that Via Elise is ahead already and take right <a target="_blank" href="https://www.google.com/maps/@13.8608806,120.9179883,3a,75y,267.14h,84.93t/am=t/data=!3m7!1e1!3m5!1sQb30xgT-GZXfRX6qULIp8w!2e0!6shttps:%2F%2Fstreetviewpixels-pa.googleapis.com%2Fv1%2Fthumbnail%3Fpanoid%3DQb30xgT-GZXfRX6qULIp8w%26cb_client%3Dsearch.revgeo_and_fetch.gps%26w%3D96%26h%3D64%26yaw%3D5.9203367%26pitch%3D0%26thumbfov%3D100!7i16384!8i8192?entry=ttu">You will see this arc and signage going to Via Elise Event Center</a></li>
                        </ul>
                      </div>

                      <div class="mt-5">
                        <p><strong>See routes in google map</strong></p>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d178309.04737820578!2d121.07952400560956!3d14.405337308811852!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e6!4m5!1s0x3397c9da821341b9%3A0x446ff353334ba713!2sEDSA%2C%20Metro%20Manila!3m2!1d14.5766435!2d121.0501616!4m5!1s0x33bd0a246a5a69b9%3A0xde6f612d574bef5b!2sMinor%20Basilica%20of%20St.%20Martin%20of%20Tours%2C%20VWJF%2B6WV%2C%20Calle%20San%20Martin%2C%20Taal%2C%204208%20Batangas!3m2!1d13.880612999999999!2d120.9247997!5e0!3m2!1sen!2sph!4v1687104902487!5m2!1sen!2sph" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

                        <p>You can check or use waze as well just look for Taal Basilica and Via Elise Event Center</p>
                        <a target="_blank" href="https://ul.waze.com/ul?preview_venue_id=79233163.792462700.2655965&navigate=yes&utm_campaign=default&utm_source=waze_website&utm_medium=lm_share_location">To Taal Basilica, Taal Batangas</a>
                        <a target="_blank" href="https://ul.waze.com/ul?preview_venue_id=79233163.792462698.15320547&navigate=yes&utm_campaign=default&utm_source=waze_website&utm_medium=lm_share_location">To Via Elise Event Center, Taal Batangas</a>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#route-4" aria-expanded="false" aria-controls="route-4">
                      Im coming from Cuenca, Batangas
                    </button>
                  </h2>
                  <div id="route-4" class="accordion-collapse collapse" data-bs-parent="#routes-acc">
                    <div class="accordion-body">
                      <div>
                        <p><strong>Commute:</strong></p>

                        <ul>
                          <li>Take a jeep from P Jose P. Laurel Highway going to Taal Basilica, Church which take 30mins commute.</li>
                          <li>From Taal Basilica can ride a tricycle going to Via Elise Event Center its just 10mins away ride. <a href="https://www.google.com/maps/@13.8608806,120.9179883,3a,75y,267.14h,84.93t/am=t/data=!3m7!1e1!3m5!1sQb30xgT-GZXfRX6qULIp8w!2e0!6shttps:%2F%2Fstreetviewpixels-pa.googleapis.com%2Fv1%2Fthumbnail%3Fpanoid%3DQb30xgT-GZXfRX6qULIp8w%26cb_client%3Dsearch.revgeo_and_fetch.gps%26w%3D96%26h%3D64%26yaw%3D5.9203367%26pitch%3D0%26thumbfov%3D100!7i16384!8i8192?entry=ttu">You will see this arc and signage going to Via Elise Event Center</a></li>
                        </ul>
                      </div>

                      <div class="mt-5">
                        <p><strong>Private Vehicle: (<a target="_blank" href="https://www.google.com/maps/dir/Cuenca+Public+Market,+Cuenca,+Batangas/Minor+Basilica+of+St.+Martin+of+Tours,+VWJF%2B6WV,+Calle+San+Martin,+Taal,+4208+Batangas/@13.8816053,120.9462397,13z/data=!3m1!4b1!4m13!4m12!1m5!1m1!1s0x33bd0da754544d95:0xd69a90740388b8e1!2m2!1d121.0505306!2d13.8988377!1m5!1m1!1s0x33bd0a246a5a69b9:0xde6f612d574bef5b!2m2!1d120.9247997!2d13.880613?entry=ttu">See routes</a>)</strong></p>
                        <ul>
                          <li>From Cuenca public market, take P Jose P. Laurel Highway going to Taal Basilica Church which will take 30mins travel</li>
                          <li>From Taal Basilica Church take Palico - Balayan road until Calle Ramon Diokno road until Taal - San Luis road (those roads are just straight connected road). <a target="_blank" href="https://www.google.com/maps/dir/Minor+Basilica+of+St.+Martin+of+Tours,+VWJF%2B6WV,+Calle+San+Martin,+Taal,+4208+Batangas/Via+Elise+Events+Center,+Sitio+Aroma,+Taal,+4208+Batangas/@13.8706341,120.909945,15z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x33bd0a246a5a69b9:0xde6f612d574bef5b!2m2!1d120.9247997!2d13.880613!1m5!1m1!1s0x33bd09eb9ec85e67:0x70f0734dbe68254a!2m2!1d120.9157429!2d13.8603273!3e0?entry=ttu">See routes</a></li>
                          <li>From Taal - San Luis road ahead there will be a signage on the Left side of the road stating that Via Elise is ahead already and take right <a target="_blank" href="https://www.google.com/maps/@13.8608806,120.9179883,3a,75y,267.14h,84.93t/am=t/data=!3m7!1e1!3m5!1sQb30xgT-GZXfRX6qULIp8w!2e0!6shttps:%2F%2Fstreetviewpixels-pa.googleapis.com%2Fv1%2Fthumbnail%3Fpanoid%3DQb30xgT-GZXfRX6qULIp8w%26cb_client%3Dsearch.revgeo_and_fetch.gps%26w%3D96%26h%3D64%26yaw%3D5.9203367%26pitch%3D0%26thumbfov%3D100!7i16384!8i8192?entry=ttu">You will see this arc and signage going to Via Elise Event Center</a></li>
                        </ul>
                      </div>

                      <div class="mt-5">
                        <p><strong>See routes in google map</strong></p>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d61972.63866977457!2d120.9462397183885!3d13.88160526069517!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e6!4m5!1s0x33bd0da754544d95%3A0xd69a90740388b8e1!2sCuenca%20Public%20Market%2C%20Cuenca%2C%20Batangas!3m2!1d13.8988377!2d121.05053059999999!4m5!1s0x33bd0a246a5a69b9%3A0xde6f612d574bef5b!2sMinor%20Basilica%20of%20St.%20Martin%20of%20Tours%2C%20VWJF%2B6WV%2C%20Calle%20San%20Martin%2C%20Taal%2C%204208%20Batangas!3m2!1d13.880612999999999!2d120.9247997!5e0!3m2!1sen!2sph!4v1687139825620!5m2!1sen!2sph" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

                        <p>You can check or use waze as well just look for Taal Basilica and Via Elise Event Center</p>
                        <a target="_blank" href="https://ul.waze.com/ul?preview_venue_id=79233163.792462700.2655965&navigate=yes&utm_campaign=default&utm_source=waze_website&utm_medium=lm_share_location">To Taal Basilica, Taal Batangas</a>
                        <a target="_blank" href="https://ul.waze.com/ul?preview_venue_id=79233163.792462698.15320547&navigate=yes&utm_campaign=default&utm_source=waze_website&utm_medium=lm_share_location">To Via Elise Event Center, Taal Batangas</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
