<div class="gift section white-section" id="gift">
  <div class="container mb-5">
    <div class="row">
      <div class="col-md-12">
        <h1 class="text-title cursive mb-5 mt-5">Funding to start a small business</h1>

        <div class="mt-5 mb-5">
          <div class="row">
            <div class="col-md-6 d-flex flex-column flex-wrap align-items-center justify-content-center text-center">
              <p class="mt-5 mb-3">With all that we have, we’ve been truly blessed. </p>
              <p class="mb-3">Your presence and prayers are all that we request.</p>
              <p class="mb-3"> But if you desire to give nonetheless,</p>
              <p class="mb-3">a monetary gift is one we suggest to help us to fund to start </p>
              <p class="mb-3">a small business into our new chapter of our life together.</p>
            </div>
            <div class="col-md-6 mt-5 mb-5">
              <img src="/assets/images/gift.jpg"/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>