<div class="header-content">
  <header class="navbar navbar-expand-lg bd-navbar sticky-top">
    <nav class="container-xxl bd-gutter flex-wrap flex-lg-nowrap" aria-label="Main navigation">
        <div class="d-lg-none" style="width: 1.5rem;"></div>

      <a class="navbar-brand p-0 me-0 me-lg-2 logo-head paris" href="/" aria-label="header-main-link">
        Erwin & Glydel
      </a>

      <div class="d-flex">
        <a href="#" class="d-flex d-lg-none order-3 p-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#bdNavbar" aria-controls="bdNavbar" aria-label="Toggle navigation">
          <img src="/assets/images/dots.png" alt="Menu">
        </a>
      </div>

      <div class="offcanvas-lg offcanvas-end flex-grow-1" tabindex="-1" id="bdNavbar" aria-labelledby="bdNavbarOffcanvasLabel" data-bs-scroll="true">
        <div class="offcanvas-header px-4 pb-0">
          <h5 class="offcanvas-title black-white" id="bdNavbarOffcanvasLabel">
            <a href="/" class="logo-head paris">Erwin & Glydel</a>
          </h5>
          <a type="button" class="btn-close btn-close-black" data-bs-dismiss="offcanvas" aria-label="Close" data-bs-target="#bdNavbar"></a>
        </div>

        <div class="offcanvas-body p-4 pt-0 p-lg-0 justify-content-xl-end">
          <hr class="d-lg-none text-white-50">
          <ul class="navbar-nav flex-row flex-wrap bd-navbar-nav align-items-center">
            <li class="nav-item col-6 col-lg-auto">
              <a class="nav-link py-2 px-0 px-lg-2 scroll-to" href="#home">Home</a>
            </li>
            <li class="nav-item col-6 col-lg-auto">
              <a class="nav-link py-2 px-0 px-lg-2 scroll-to" aria-current="true" href="#the-wedding">The Wedding</a>
            </li>
            <li class="nav-item col-6 col-lg-auto">
              <a class="nav-link py-2 px-0 px-lg-2 scroll-to" aria-current="true" href="#save-the-date">Save the Date</a>
            </li>
            <li class="nav-item col-6 col-lg-auto">
              <a class="nav-link py-2 px-0 px-lg-2 scroll-to" href="#locations">Get Directions</a>
            </li>
            <li class="nav-item col-6 col-lg-auto">
              <a class="nav-link py-2 px-0 px-lg-2 scroll-to" href="#attires">Attires</a>
            </li>
            <li class="nav-item col-6 col-lg-auto">
              <a class="nav-link py-2 px-0 px-lg-2 scroll-to" href="#gift">Gift</a>
            </li>
            <li class="nav-item col-6 col-lg-auto">
              <a class="nav-link py-2 px-0 px-lg-2 scroll-to" href="#rsvp">RSVP</a>
            </li>
            <li class="nav-item col-6 col-lg-auto">
              <a class="nav-link py-2 px-0 px-lg-2 scroll-to" href="#the-couple">The couple</a>
            </li>
            <li class="nav-item col-6 col-lg-auto">
              <a class="nav-link py-2 px-0 px-lg-2 scroll-to" href="#talk-to-us">Talk to us</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
</div>
<div class="progress-container">
  <div class="progress-bar" id="on-scroll-progress"></div>
</div>
