<div class="invitation section" id="invitation" style="background-image: url(/assets/images/invite-WB.png); background-size: cover; background-repeat: no-repeat; color: #646044;">
  <div class="container mb-5">
    <div class="row">
      <div class="col-md-12">
        <p class="text-center mt-5 mb-0" style="font-size: 50px; font-family: alice;">YOU'RE INVITED</p>
        <p class="text-center mt-0" style="font-size: 25px; font-family: alice;">TO THE WEDDING <br/> OF</p>
        <h1 class="cursive mb-1 mt-2 text-center">Glydel Macalintal & Erwin Seribo</h1>

         <p class="text-center mt-1" style="font-size: 37px; font-family: alice;">TOGETHER</p>
         <p class="text-center mt-1" style="font-size: 37px; font-family: alice;">WITH THEIR FAMILIES</p>

         <p class="text-center mt-2 mb-5" style="font-size: 23px; font-family: alice;" >INVITE YOU TO SHARE AS WE EXCHANGE MARRIAGE VOWS</p>

         <p class="text-center mt-1" style="font-size: 40px; font-family: alice;">08  |  06  |  2023</p>

        <div class="row mt-5 mb-5">
          <div class="col-md-4 text-center mt-5">
            <p class="text-center mt-0" style="font-size: 10px; font-family: anaktoria;">Ceremony</p>
            <p class="text-center mt-0" style="font-size: 25px; font-family: anaktoria;">Taal Basilica Church</p>
            <p class="text-center mt-0" style="font-size: 13px; font-family: cormant sc;">CALLE SAN MARTIN, TAAL, 4208 <br/> BATANGAS</p>
            <p class="text-center mt-0" style="font-size: 12px; font-family: cormant sc;">3:00 PM</p>
          </div>

          <div class="col-md-4 text-center mt-5">
          </div>

          <div class="col-md-4 mt-5">
            <p class="text-center mt-0" style="font-size: 10px; font-family: anaktoria;">Reception</p>
            <p class="text-center mt-0" style="font-size: 25px; font-family: anaktoria;">Taal Via Elis</p>
            <p class="text-center mt-0" style="font-size: 13px; font-family: cormant sc;">CALLE SITIO AROMA, TAAL, 4208 <br/> BATANGAS</p>
            <p class="text-center mt-0" style="font-size: 12px; font-family: cormant sc;">5:00 PM</p>
          </div>
        </div>

         <p class="text-center mt-2" style="font-size: 23px; font-family: alice;">RSVP BEFORE AUGUST 06</p>

      </div>
    </div>
  </div>
</div>
