<div id="rsvp" class="rsvp section colored-section">
  <div class="banner-cover banner-display d-flex align-items-center justify-content-center">
    <div class="container">
      <div class="row">
        <div class="text-center col-md-12">
          <img src="/assets/images/rsvp.gif" width="300px" alt="RSVP" />
          <h3 class="cursive mt-5">See you at the wedding!</h3>
          <div class="mt-5 mb-5">
            <p>We only have limited guests to celebrate our important day. <br> Your response is highly appreciated to confirm your availability. <br>Please let us know if you will be able to attend <br>so we can reserve a seat for you.</p>
          </div>
          <a href="#" class="rsvp-btn">RSVP</a>
        </div>
      </div>
    </div>
  </div>
</div>
