<div class="talk-to-us section colored-section" id="talk-to-us">
  <div class="container mb-5">
    <div class="row">
      <div class="col-md-12">
        <h1 class="cursive mb-5 mt-5 text-center">Talk to us</h1>

        <div class="row mt-5 mb-5">
          <div class="col-md-5 text-center mt-5">
            <img src="/assets/images/wh.gif" width="90%;" />
            <p>#theWinningheartsofGly2023</p>
          </div>

          <div class="col-md-7 mt-5">
            <div>
              <p>Incase you have concern or situation.</p>
              <p>Please dont hesitate to reachout to us.</p>
              <p>We will be happy to assist you and we will try our best to help you as well.</p>
              <p>It will be an honored to celebrate with you on our wedding day.</p>
            </div>
            <div>
              <p class="mb-5 mt-5">You can reachout us:</p>
              <p><strong>Erwin Seribo:</strong> +639777572066 | erwin_rulezzz87@yahoo.com</p>
              <p><strong>Glydel Macalintal:</strong> +639978198455 | glydelle.macalintal28@gmail.com</p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
