<div class="talk-to-us section colored-section" id="talk-to-us">
  <div class="container mb-5">
    <div class="row">
      <div class="col-md-12">
        <h1 class="cursive mb-5 mt-5 text-center">Talk to us</h1>

        <div class="row mt-5 mb-5">
          <div class="col-md-5 text-center mt-5">
            <img src="/assets/images/wh.gif" width="90%;" />
            <p>#theWinningheartsofGly2023</p>
          </div>

          <div class="col-md-7 mt-5">
            <div>
              <p>If you have questions or concern about our wedding or if you need assistance or guide on how to get into the area. Please do reachout to us so we can assist you.</p>
            </div>
            <div>
              <p class="mb-2 mt-5">You can contact us below details::</p>
              <p><strong>Erwin Seribo:</strong><br> +639777572066 erwin_rulezzz87@yahoo.com</p><br>
              <p><strong>Glydel Macalintal:</strong><br> +639978198455 glydelle.macalintal28@gmail.com</p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
