<div id="the-wedding" class="the-wedding section">
  <div class="banner-cover banner-display d-flex align-items-center justify-content-center">
    <div class="container">
      <div class="row">
        <div class="col-md-6 d-flex align-items-center justify-content-center">
          <p id="countdown" class="italic d-flex justify-content-between"></p>
        </div>
        <div class="align-self-end text-end col-md-6">
          <img src="/assets/images/std.gif" width="200px" alt="STD" />
          <h3 class="cursive mt-5">6th of August, 2023</h3>
          <div class="mt-5">
            <h3 class="italic">Ceremony: 3:00 pm <br>Taal Basilica Church <br> Taal, Batangas. PH</h3>
          </div>
          <div class="mt-5">
            <h3 class="italic">Reception: 5:00 pm <br>Via Elise Event Center <br> Taal, Batangas. PH</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% include stars.html %}
</div>
