<div id="the-couple" class="the-couple section">
  <div class="banner-cover banner-display d-flex align-items-center justify-content-center">
    <div class="container">
      <div class="row">
        <div class="text-center col-md-12">
          <h3 class="cursive mt-5">About Erwin & Glydel</h3>
          <div class="mt-5 mb-5">
            <p>As a couple, We are perfect for each as we complement each others flaws and weaknesses. We support and understand each other. From the start of our relationship we felt that we are meant for each other and we felt that spark that we will be on this position of our relationship which is to be together until we grow old. When we are together we love to try new food and explore new places together. Sometimes we just want to chill at home watch movies, series and sometimes  watch random videos for pasttime. We both love dogs thats why we have seol-gi and unagi. </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
